.combo-box .cell {
     -fx-text-fill: white;
     -fx-background-color: #212121;
}
.list-view .cell {
     -fx-text-fill: white;
     -fx-prompt-text-fill: white;
     -fx-text-inner-color: white;
     -fx-background-color: #535353;
}

.list-view {
    -fx-background-color: #212121;
    -fx-border-color: #232323;
}

.list-view .list-cell:hover {
    -fx-background-color: #434343;
}

.list-view .list-cell:selected {
    -fx-background-color: #434343;
}

.list-view .list-cell {
    -fx-background-color: #434343;
    -fx-text-fill: white;
}

.list-view .label {
    -fx-text-fill: white;
}